/* SideMenu */
.psm-side-menu {
	padding: 1.25rem;
	border-radius: 0.625rem;
	background-color: #fff;
	height: fit-content;
}
.psm-side-menu .psm-menu-item {
	border-radius: 0.3125rem;
}
.psm-side-menu .psm-menu-item:hover {
	background-color: #e5e5e5;
}
.psm-side-menu .psm-menu-item.current {
	color: #fff;
	background-color: var(--psmfr-primary-color);
}