.wppm-card {
	background: #fff;
	border: 1px solid #dcdcde;
	border-radius: 10px;
	box-sizing: border-box;
	height: 100%;
}

.wppm-card-padding {
	padding: 20px;
}

.wppm-card-clickable {
	cursor: pointer;
}