.wptl-dashboard-widget-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wptl-dashboard-chart-container {
	width: 100%;
}

.wptl-dashboard-chart-loading {
	display: flex;

	align-items: center;

	justify-content: center;
}
